body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    margin-top: 2em;
}

.home_banner img {
    top: auto;
    max-width: 100%;
    margin-top: -23em;
}

.comp_box {
    margin-bottom: 1em;
    border: 2px inset black;
    border-radius: 1em;
    text-align: center;
}

.comp_box img {
    width: 80%;
    margin: auto 10%;
}

.detail_box {
    margin: 2em auto;
}