<div class="row">
    <div class="col-md-3">
        <img src="http://placecorgi.com/260/180" />
    </div>
    <div class="col-md-6">
        <img src="http://placecorgi.com/360/280" />
    </div>
    <div class="col-md-3">
        <img src="http://placecorgi.com/260/180" />
    </div>
</div>

