<div class="row">
    <div class="home_banner">
        <img src="~/Images/home_runner.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://placecorgi.com/260/180" />
    </div>
    <div class="col-md-4">
        <img src="http://placecorgi.com/260/180" />
    </div>
    <div class="col-md-4">
        <img src="http://placecorgi.com/260/180" />
    </div>
</div>

